<a [routerLink]="['/']">Home</a>
<a [routerLink]="['/product']">Product Detail</a>
<a [routerLink]="['/login']">Login</a>
<a [routerLink]="['/mydata']">Data</a>
<a [routerLink]="['', { outlets: { aux: 'chat' } }]">Open Chat</a>
<a [routerLink]="[{ outlets: { aux: null } }]">Close Chat</a>
<a [routerLink]="['/luxury']">Luxury Items</a>
<a [routerLink]="['/shipping']">Shipping</a>
<br />
<h2>The value of BACKEND_URL is {{ url }}</h2>
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>
<div *ngIf="isNavigating">
  Loading...
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<h1>Basic Dependency Injection Sample</h1>
<ng-product></ng-product>
<ng-mock-product></ng-mock-product>